doctype html
html

    head
    meta(charser = 'utf-8')
    title Webpack App
    body
        div(class='wrapper')
            include includes/header.pug
            .slider
                .slider-list
                    .slide
                        .block-1
                            .bl
                                .num 01
                                .title АРТГИД
                                hr
                                .text-1 Редизайн новостного сайта
                                .text-2 Проектирование и дизайн
                            .text-3 2020
                        .block-2
                            img(src=require('./../img/main-page/artguide.jpg'))
                    .slide
                        .block-1
                            .bl
                                .num 02
                                .title CHLOE
                                hr
                                .text-1 Редизайн интернет-магазина
                                .text-2 Проектирование и дизайн
                            .text-3 2019
                        .block-2
                            img(src=require('./../img/main-page/chloe.jpg'))
                    .slide
                        .block-1
                            .bl
                                .num 03
                                .title BOSTON
                                hr
                                .text-1 Лендинг клубного дома
                                .text-2 Проектирование и дизайн
                            .text-3 2019
                        .block-2
                            img(src=require('./../img/main-page/boston.jpg'))



div(id="content" class="content")
    div( id="slider" data-images='["/img/main-page/artguide.jpg","/img/main-page/boston.jpg","/img/img53.jpg"]')


