doctype html
html(lang="ru")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Проекты
    body.home
        div(class='wrapper')
            header.header
                nav
                    ul
                        li
                            a.link.active(href='/ru') Проекты
                            a.link(href='/ru/info.html') Инфо
                a.lang(href='/en') EN
            .slider
                .slider-list
                    .slide
                        .block-1
                            .bl
                                .num 01
                                .title(data-to-work="art-guide.html" data-cursor-hover) АРТГИД
                                hr
                                .text-1 Редизайн новостного сайта
                                .text-2 Проектирование и дизайн
                            .text-3 2020
                        .block-2
                            .img-block(data-to-work="art-guide.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/01-min.jpg') + ')'
                                    id="image"
                                    data-src=require('./../../img/main-page/01-min.jpg'))
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 02
                                .title(data-to-work="chloe.html" data-cursor-hover) CHLOE
                                hr
                                .text-1 Редизайн интернет-магазина
                                .text-2 Проектирование и дизайн
                            .text-3 2019
                        .block-2
                            .img-block(data-to-work="chloe.html" data-cursor-hover)
                                .cover(style="background-image: url(" + require('./../../img/main-page/02-min.jpg') + ')')
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 03
                                .title(data-to-work="boston.html" data-cursor-hover) BOSTON
                                hr
                                .text-1 Лендинг клубного дома
                                .text-2 Проектирование и дизайн
                            .text-3 2019
                        .block-2
                            .img-block(data-to-work="boston.html" data-cursor-hover)
                                .cover(style="background-image: url(" + require('./../../img/main-page/03-min.jpg') + ')')
                                .img-cover


