doctype html
html(lang="ru")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Инфо
    body.info
        .wrapper.o-0
            header.header
                nav
                    ul
                        li
                            a.link(href='/ru') Проекты
                            a.link.active(href='/ru/info.html') Инфо
                a.lang(href='/en/info.html') EN
            .info-block
                .content
                    .block-1
                    .block-2
                        p.head Приветствую!
                        p.head Я Светлана, UI/UX дизайнер из России. Проектирую сайты в стиле минимализма.
                .content.js-info-animate.o-0
                    .block-1.an-1 В двух словах
                    .block-2.an-2
                        p В дизайне меня привлекают такие аспекты, как: эстетика, функциональность, внимание к композиции, осмысленность и свобода от излишней декоративности.
                        p В 2020 году успешно завершила курс по веб-дизайну в школе UPROCK под руководством Евгения Кузьмина — арт-директора, чей опыт в этой сфере составляет более 14 лет, входящего в состав жюри "Рейтинг рунета" и "G8", обладателя наград "Лучший сайт года".
                .content.js-info-animate.o-0
                    .block-1 Процесс работы
                    .block-2
                        p.mb-30 Мой подход к разработке дизайна нацелен на то, чтобы проекты были не только красивы, но и эффективны, удобны и просты в использовании.
                        p Брифинг
                        p.text Важно до начала работы понять в диалоге, что в итоге хочет получить клиент, узнать его вкусовые предпочтения касаемые визуальной части сайта, выяснить особенности продукта или услуги, его целевую аудиторию и потребности. 
                        p.text Формулирование чётких требований к задаче обычно приводит к отличному результату.
                        hr
                        p Техническое задание
                        p.text На основании брифа я составляю техническое задание, в котором будут отражены требования к проекту, структура будущего сайта, перечень всех страниц с подробным описанием.
                        p.text После согласования технического задания перехожу к следующему этапу.
                        hr
                        p Прототипирование
                        p.text На этапе прототипирования я обязательно выполняю визуальный анализ — этот процесс помогает создать сайт с актуальным и востребованным дизайном, подобрать современные решения.  
                        p.text Затем детально прорабатываю состав блоков всех страниц проекта и их порядок, затем интегрирую полученный от клиента текстовый и фото/видео контент.
                        hr
                        p Визуальная концепция
                        p.text После согласования и прототипа, я приступаю к отрисовке визуальной концепции — графической идеи будущего сайта, выраженной с помощью эскизов ключевых разделов. 
                        p.text Демонстрирую результат клиенту, при необходимости вносим правки.
                        hr
                        p Дизайн всех страниц сайта
                        p.text После утверждения концепта, отрисовываю финальный дизайн всего сайта, демонстрирую результат клиенту на согласование, при необходимости вносим правки.
                        hr
                        p Адаптивный дизайн
                        p.text Отрисовываю адаптивы под самые распространённые разрешения для корректного отображения сайта на всех современных устройствах
                        hr
                        p Подготовка макета в разработку
                        p.text Передача файла, который содержит дизайн всех страниц сайта, адаптивные версии под современные устройства и UI Kit с подробным описанием для дальнейшей разработки.
                        p.text Уже несколько лет я работаю в команде с отличным веб-разработчиком, поэтому возможен вариант сайта под ключ.
                        hr
                .content-2.js-info-animate.o-0
                    .block-1 Контакты
                    .block-2.links
                        p Благодарю за проявленный интерес к моему портфолио!
                        p.mb-30 Если вам близки мои работы и стиль, нужен продуманный до мелочей сайт, решающий задачи, пишите, буду рада помочь!
                        a.link-1(href='mailto:svetlana.webdesign@gmail.com' target='_blank') Email
                        a.link-1(href='https://www.behance.net/svetlana_webdesign' target='_blank') Behance
                        a.link-1(href='https://www.instagram.com/svetlana_webdesign' target='_blank') Instagram
    footer
        .wrapper
            .text © 2021 Svetlana Tsymbalyuk 