doctype html
html
    head
        meta(charser = 'utf-8')
        title Info
    body.info
        .wrapper.o-0
            header.header
                nav
                    ul
                        li
                            a.link(href='/ru') Проекты
                            a.link(href='/ru/info.html') Инфо
                a.lang(href='/en/info.html') EN
            .info-block
                .content
                    .block-1
                    .block-2
                        p.head Приветствую!
                        p.head Я Светлана, веб-дизайнер из России.  Проектирую сайты в стиле минимализма.
                .content.js-info-animate.o-0
                    .block-1.an-1 В двух словах
                    .block-2.an-2
                        p В дизайне меня привлекают такие аспекты, как: эстетика, функциональность, внимание к пропорциям и композиции, осмысленность и свобода от излишней декоративности.
                        p В 2019 году поступила на обучение в школу дизайна UPROCK под руководством Евгения Кузьмина — арт-директора, чей опыт в этой сфере составляет более 14 лет, входящего в состав жюри "Рейтинг рунета" и "G8", обладателя наград "Лучший сайт года".
                .content.js-info-animate.o-0
                    .block-1 Знания и навыки
                    .block-2
                        p UI дизайн
                        p Конкурентный анализ
                        p Прототипирование
                        p Визуальная концепция
                        p Адаптивный дизайн
                        p Подготовка макета в разработку
                .content.js-info-animate.o-0
                    .block-1 Инструменты
                    .block-2
                        img(src=require('./../../img/info/Figma-logo 1.png'))
                        img(src=require('./../../img/info/photoshop.png'))
                        img(src=require('./../../img/info/logo_w 1.png'))
                        img(src=require('./../../img/info/image 29.png'))
                .content.js-info-animate.o-0
                    .block-1 Контакты
                    .block-2.links
                        a.link-1(href='https://google.com') Email
                        a.link-1(href='https://google.com') Behance
                        a.link-1(href='https://google.com')
        footer.white
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
