header.header
    nav
        ul
            li
                a.link(href='https://valeravilks.ru') Проекты
                a.link(href='https://valeravilks.ru') Инфо
    a.lang(href='https://google.com') EN