.header{
  display: flex;
  padding-top: 50px;
  justify-content: flex-end;
  align-items: center;
  //transform: translateX(0px);
  //transition: transform .5s ease, opacity .5s ease;
  //transition-delay: .5s;

  .lang{
    margin-left: 100px;
    font-size: 10px;
    color: #898989;
  }

  nav{
    a{
      font-size: 16px;
      margin-left: 50px;
      &:hover{

      }
    }
  }
}
.o-0{
  opacity: 0;
}