.header{
  display: flex;
  padding-top: 50px;
  //justify-content: flex-end;
  @media (max-width: 1000px) {
    justify-content: flex-end;
  }
  align-items: baseline;
  opacity: 0;
  //transform: translateX(0px);
  //transition: transform .5s ease, opacity .5s ease;
  //transition-delay: .5s;

  @media (max-width: 640px) {
    padding-top: 20px;
  }

  .lang{
    margin-left: 100px;
    font-size: 10px;
    color: #898989;

    @media (max-width: 640px) {
      margin-left: 30px;
    }
  }

  nav{
    margin-left: 500px;

    @media (max-width: 1230px) {
      margin-left: 410px;
    }

    @media (max-width: 1000px) {
      margin-left: 0px;
    }
    a{
      font-size: 16px;
      margin-left: 50px;
      position: relative;

      &.active:before{
        content: '';
        position: absolute;
        bottom: -1px;
        height: 1px;
        background-color: #282828;
        width: 100%;
        left: 0;
        transition: width .3s ease;


      }
      @media (max-width: 640px) {
        font-size: 12px;
        margin-left: 30px;
      }
      &:hover{

      }
    }
  }
}
.o-0{
  opacity: 0;
}