.slider{
  position: relative;
  padding-top: 170px;
  opacity: 0;
  @media (max-width: 1000px) {
    padding-top: 65px;
  }

  .slide{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    cursor: pointer;

    @media (max-width: 1000px) {
      width: 100%;
    }

    &.load{
      transform: scale(1);
      opacity: 1;
      z-index: 1;

      .block-2{
        transform: translateX(0px);
        opacity: 1;
      }

      .block-1{
        .text-1, .text-2, .text-3{
          transform: translateY(0px);
          opacity: 1;
      }

        .title {
          transform: translateX(0px);
          opacity: 1;

        }

        .num{
          opacity: 1;
      }

        hr{
          width: 100%;
          opacity: 1;
      }
    }


  }

    &.preload{

    }

    &.show{
      opacity: 1;
      .block-1{
        .title{
          opacity: 1;
          transform: translateX(0);
        }
        .num{
          opacity: 1;
          transform: translateX(0);
        }
        .text-1{
          opacity: 1;
          transform: translateX(0);
        }
        hr{
          opacity: 1;
          width: 100%;
        }
        .text-2{
          opacity: 1;
          transform: translateX(0);
        }
        .text-3{
          opacity: 1;
          transform: translateX(0);
        }
      }
      .block-2{
        opacity: 1;
        transform: translateX(0);
      }

    }

    &.to{
      .block-1{
        .title{
          opacity: 0;
          transform: translateX(100px);
        }
      }
    }

    .block-1{
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      @media (max-width: 1230px) {
        width: 410px;
      }

      @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 30px;
      }

      .num{
        align-self: flex-start;
        margin-bottom: 110px;
        opacity: 0;
        @media (max-width: 1000px) {
          margin-bottom: 25px;
          padding-top: 0;
        }
    }
      .title{
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        opacity: 0;

        @media (max-width: 1230px) {
          font-size: 75px;
        }

        @media (max-width: 1000px) {
          text-align: center;
          margin-bottom: 10px;
        }

        @media (max-width: 640px) {
          font-size: 55px;
        }
      }
      hr{
        margin-bottom: 20px;
        border: 0.5px solid #D7D7D7;
        opacity: 0;
        align-self: flex-end;
        margin-right: 0;
      }
      .text-1{
        color: #898989;
        margin-bottom: 10px;
        font-size: 12px;
        align-self: flex-end;
        opacity: 0;
    }
      .text-2{
        color: #898989;
        margin-bottom: 10px;
        font-size: 12px;
        align-self: flex-end;
        opacity: 0;
    }
      .text-3{
        color: #898989;
        font-size: 12px;
        opacity: 0;
    }
      .bl{
        display: flex;
        flex-direction: column;

        @media (max-width: 1000px) {
          width: 100%
        }
    }
  }

    .block-2{
      max-width: 700px;
      padding-left: 50px;
      opacity: 0;

      @media (max-width: 1000px) {
        width: 100%;
        padding-left: 0;
        padding-bottom: 30px;
      }

      .img-block{
        width: 600px;
        height: 420px;
        position: relative;

        @media (max-width: 1250px) {
          width: 500px;
          height: 350px;
        }

        @media (max-width: 1000px) {
          width: 100%;
        }

        @media (max-width: 640px) {
          height: 210px;
        }
        .cover{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          @media (max-width: 1000px) {
            background-repeat: no-repeat;
            background-size: cover;
          }

          canvas{
            @media (max-width: 1000px) {
              display: none;
            }
          }
        }
        .img-cover{
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          z-index: 11;
          background-color: #F9F9F9;
        }
      }
    }
  }
}
