@import 'smart-grid';
@import '../fonts/SFPro/stylesheet.css';
@import 'header';
@import 'main-slider';
@include reset();

body{
  font-family: "SF Pro Display", sans-serif;
  color: #282828;
  background-color: #F9F9F9;
}

.mb100{
  margin-bottom: 100px;
}
.mb50{
  margin-bottom: 50px;
}
//html{
//  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADLSURBVHgBtZXRDYIwEIZ/cYGO0A1cwU1kA0ZoN3AFN3AE4wZuUDbg2Se8E0guROtVrl/yNTyQj0shFPiOIzvySiZynOXrG3kiPQrgYCAHEcsZNFG/mk5rQmb6f6M/41uiMu5kNBhEF6PcgtFQfumuoeUIW3gr2j0tZxR+jwqeTYUoc9hh2hdzGlSCwz3s6Tn8gD3v8B32XHjh7077J9PqlydEw2iUo/PUySCa8AGPSr/NLfFsVBKVwWG+16EAT7aYDs60mo4P2C4XfAFsptf2Gzw0AwAAAABJRU5ErkJggg=='), auto;
//}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.display-none{
  opacity: 0;
}

a{
  text-decoration: none;
  color: #282828;
}

.first{
  padding: 100px 0 100px 400px;

  .title{
    font-weight: 500;
    font-size: 80px;
    line-height: 95px;
    letter-spacing: 0.1em;
    color: #282828;
    margin-bottom: 30px;
  }

  .text{
    font-size: 12px;
    line-height: 14px;
    color: #898989;
    margin-bottom: 10px;
  }


  .link{
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border: 1px solid #282828;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 150%;
    color: #282828;
    padding: 10px 50px;

    &:hover{
      color: white;
      background-position: left bottom;
    }
  }
  .block{
    margin-bottom: 40px;
  }
  .content{
    margin-top: 100px;
  }

}
.work{
  p{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 150%;
    color: #282828;
  }
  .content-2{
    padding: 100px 100px 100px 400px;
  }
  .content-3{
    padding: 0 100px;
  }
  .content-4{
    padding: 0 100px 100px;
    .bl-1{
      margin-bottom: 100px;
    }

    .bl{
      display: flex;
      justify-content: space-between;
    }
  }
  .content-6{
    display: flex;
    padding: 0 100px 100px;
    justify-content: space-between;
  }

  .content-7{
    display: flex;
    padding: 0 150px 100px;
    justify-content: space-between;

    .block-1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      :last-child{
        padding-bottom: 15px;
      }
    }

    .block-2{
      display: flex;
      flex-direction: column;
    }
  }
  .work-footer{
    background-color: #282828;

    .text-1{
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    .text-2{
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      font-weight: 500;
      font-size: 80px;
      line-height: 95px;
      letter-spacing: 0.1em;
    }

    .cont{
      display: flex;
      padding: 100px 150px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
footer{
  background-color: #282828;

  .wrapper {
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .text{
    color: #eaeaea;
    font-size: 10px;
  }
}