@import 'smart-grid';
@import '../fonts/SFPro/stylesheet.css';

@include reset();

body{
  font-family: "SF Pro Display", sans-serif;
  color: #282828;
}


html{
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADLSURBVHgBtZXRDYIwEIZ/cYGO0A1cwU1kA0ZoN3AFN3AE4wZuUDbg2Se8E0guROtVrl/yNTyQj0shFPiOIzvySiZynOXrG3kiPQrgYCAHEcsZNFG/mk5rQmb6f6M/41uiMu5kNBhEF6PcgtFQfumuoeUIW3gr2j0tZxR+jwqeTYUoc9hh2hdzGlSCwz3s6Tn8gD3v8B32XHjh7077J9PqlydEw2iUo/PUySCa8AGPSr/NLfFsVBKVwWG+16EAT7aYDs60mo4P2C4XfAFsptf2Gzw0AwAAAABJRU5ErkJggg=='), auto;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.display-none{
  opacity: 0;
}

a{
  text-decoration: none;
  color: #282828;
}

.header{
  display: flex;
  padding-top: 50px;
  justify-content: flex-end;
  align-items: center;

  .lang{
    margin-left: 100px;
    font-size: 10px;
    color: #898989;
  }

  nav{
    a{
      font-size: 16px;
      margin-left: 50px;
      &:hover{

      }
    }
  }
}

.slider{
  position: relative;
  padding-top: 100px;
  opacity: 0;


  .slide{
    display: flex;
    position: absolute;
    transition: all 1s ease;
    transform: scale(0);
    &.show{
      transform: scale(1);
      opacity: 1;
    }

    .title{
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 0.1em;
      margin-bottom: 20px;
    }
    hr{
      margin-bottom: 20px;
      border: 0.5px solid #D7D7D7;
      width: 100%;

    }
    .block-1{
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      .num{
        align-self: flex-start;
        margin-bottom: 70px;
      }

      .text{
        color: #898989;
        margin-bottom: 10px;
        font-size: 12px;
        align-self: flex-end;
      }
      .text-2{
        color: #898989;
        font-size: 12px
      }
      .bl{
        display: flex;
        flex-direction: column;
      }
    }
    .block-2{
      max-width: 700px;
      padding-left: 50px;
    }
  }
}