@import 'smart-grid';
@import '../fonts/SFPro/stylesheet.css';
@import 'header';
@import 'main-slider';
@include reset();

body{
  font-family: "SF Pro Display", sans-serif;
  color: #282828;
  background-color: #F9F9F9;
  cursor: none;
  min-height: 100vh;
  overflow-x: hidden;
}
a{
  cursor: none;
}

.mb100{
  margin-bottom: 100px;
}
.mb50{
  margin-bottom: 50px;
}
//html{
//  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADLSURBVHgBtZXRDYIwEIZ/cYGO0A1cwU1kA0ZoN3AFN3AE4wZuUDbg2Se8E0guROtVrl/yNTyQj0shFPiOIzvySiZynOXrG3kiPQrgYCAHEcsZNFG/mk5rQmb6f6M/41uiMu5kNBhEF6PcgtFQfumuoeUIW3gr2j0tZxR+jwqeTYUoc9hh2hdzGlSCwz3s6Tn8gD3v8B32XHjh7077J9PqlydEw2iUo/PUySCa8AGPSr/NLfFsVBKVwWG+16EAT7aYDs60mo4P2C4XfAFsptf2Gzw0AwAAAABJRU5ErkJggg=='), auto;
//}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1230px) {
    max-width: 960px;
  }

  @media (max-width: 1000px) {
    max-width: 600px;
  }

  @media (max-width: 640px) {
    max-width: 300px;
  }


}

.display-none{
  opacity: 0;
}

a{
  text-decoration: none;
  color: #282828;
}

.first{
  padding: 100px 0 100px 400px;

  .title{
    font-weight: 500;
    font-size: 80px;
    line-height: 95px;
    letter-spacing: 0.1em;
    color: #282828;
    margin-bottom: 30px;
  }

  .text{
    font-size: 12px;
    line-height: 14px;
    color: #898989;
    margin-bottom: 10px;
  }

  .link-b{
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    display: inline-block;
    background-position: right bottom;
    transition: background .5s ease-out;
    border: 1px solid #282828;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 150%;
    color: #282828;
    padding: 10px 50px;

    &:hover{
      color: white;
      background-position: left bottom;
    }
  }
  .block{
    margin-bottom: 40px;
  }
  .content{
    margin-top: 100px;
  }

}
.work{
  opacity: 0;
  p{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 150%;
    color: #282828;
  }
  .content-2{
    padding: 100px 100px 100px 400px;
  }
  .content-3{
    padding: 0 100px;
  }
  .content-4{
    padding: 0 100px 100px;
    .bl-1{
      margin-bottom: 100px;
    }

    .bl{
      display: flex;
      justify-content: space-between;
    }
  }
  .content-6{
    display: flex;
    padding: 0 100px 100px;
    justify-content: space-between;
  }

  .content-7{
    display: flex;
    padding: 0 150px 100px;
    justify-content: space-between;

    .block-1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      :last-child{
        padding-bottom: 15px;
      }
    }

    .block-2{
      display: flex;
      flex-direction: column;
    }
  }
  .work-footer{
    background-color: #282828;

    .text-1{
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      margin-bottom: 30px;
    }

    .cont:hover .text-2:before{
      height: 100%;
    }

    .cont:hover .img-help{
      opacity: 0;
    }

    .text-2{
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      font-weight: 500;
      font-size: 80px;
      line-height: 95px;
      letter-spacing: 0.1em;
      position: relative;

      &:before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        left: 0;
        color: #fff;
        overflow: hidden;
        transition: height .3s ease;
      }
    }

    .cont{
      display: flex;
      padding: 100px 150px;
      align-items: center;
      justify-content: space-between;
    }
    .block-2{
      position: relative;
      height: 350px;
      overflow: hidden;

      .img-help{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #282828;
        opacity: 0.6;
        transition: opacity .3s ease;
      }
    }
  }
}
footer{

  &.black{
    background-color: #282828;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &.white{
    background-color: #F9F9F9;
    border-top: 1px solid #E0E0E4;

    .text {
      color: #282828;
    }
  }

  .wrapper {
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .text{
    color: #eaeaea;
    font-size: 10px;
  }
}
.info-block{
  padding: 100px 100px 0;
}

.info{
  .content{
    display: flex;
    margin-bottom: 100px;
    .block-1{
      width: 300px;
      flex-shrink: 0;
      font-size: 14px;
      line-height: 17px;
      color: #898989;
    }
    .block-2{
      p:not(:last-child){
        margin-bottom: 10px;
      }

      .head{
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
        color: #282828;
      }

      p{
        font-size: 20px;
        line-height: 150%;
        color: #282828;

      }

      img{
        margin-right: 50px;
      }

      a{
        font-size: 20px;
        line-height: 150%;
        color: #282828;
      }
      a:not(:last-child){
        margin-bottom: 10px;
      }

      &.links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.link-1{
  position: relative;
  &:hover{
    &:before{
      opacity: 1;
      transform: translateX(0);
    }
  }

  &:before{
    content: url('./../img/link-arrow.png');
    position: absolute;
    right: -33px;
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    transform: translateX(-10  px);
  }
}
.pb-200{
  padding-bottom: 200px!important;
}
.cursor {
  pointer-events: none;
  opacity: 0.5;
  z-index: 100;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    //mix-blend-mode: difference;
    z-index: 1000;
    //opacity: 0.5;

     &--small{
       //mix-blend-mode: normal;
     }

    circle {
      //fill: #593260;
      fill: #8e5199;
    }
  }
}