doctype html
html

    head
    meta(charser = 'utf-8')
    title Webpack App
    body.home
        div(class='wrapper')
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                            a.link(href='/en/info.html') Info
                a.lang(href='/ru') RU
            .slider
                .slider-list
                    .slide
                        .block-1
                            .bl
                                .num 01
                                .title(data-to-work="/art-guide.html") АРТГИД
                                hr
                                .text-1 Редизайн новостного сайта
                                .text-2 Проектирование и дизайн
                            .text-3 2020
                        .block-2
                            .img-block(data-to-work="/art-guide.html")
                                .cover(style="background: url(" + require('./../../img/main-page/01-min.jpg') + ')')
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 02
                                .title(data-to-work="/chloe.html") CHLOE
                                hr
                                .text-1 Редизайн интернет-магазина
                                .text-2 Проектирование и дизайн
                            .text-3 2019
                        .block-2
                            .img-block(data-to-work="/chloe.html")
                                .cover(style="background: url(" + require('./../../img/main-page/02-min.jpg') + ')')
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 03
                                .title(data-to-work="/boston.html") BOSTON
                                hr
                                .text-1 Лендинг клубного дома
                                .text-2 Проектирование и дизайн
                            .text-3 2019
                        .block-2
                            .img-block(data-to-work="/boston.html")
                                .cover(style="background: url(" + require('./../../img/main-page/03-min.jpg') + ')')
                                .img-cover


