doctype html
html
    head
        meta(charser = 'utf-8')
        title Info
    body.info
        .wrapper.o-0
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                            a.link(href='/en/info.html') Info
                a.lang(href='/ru/info.html') RU
            .info-block
                .content
                    .block-1
                    .block-2
                        p.head Hello!
                        p.head I am Svetlana, a web designer from Russia. I design sites in the style of minimalism.
                .content.js-info-animate.o-0
                    .block-1.an-1 In a few words
                    .block-2.an-2
                        p In design, I am attracted to such aspects as: aesthetics, functionality, attention to proportions and composition, meaningfulness and freedom from excessive decorativeness.
                        p In 2019 I entered the UPROCK design school under the leadership of Evgeny Kuzmin, an art director with more than 14 years of experience in this field, who is a member of the Runet rating and jury G8, winner in the nomination “Best Website of the Year”.
                .content.js-info-animate.o-0
                    .block-1 Skills
                    .block-2
                        p UI design
                        p Competitive analysis
                        p Prototyping
                        p Visual concept
                        p Adaptive design
                        p Preparing a layout for development
                .content.js-info-animate.o-0
                    .block-1 Instruments
                    .block-2
                        img(src=require('./../../img/info/Figma-logo 1.png'))
                        img(src=require('./../../img/info/photoshop.png'))
                        img(src=require('./../../img/info/logo_w 1.png'))
                        img(src=require('./../../img/info/image 29.png'))
                .content.js-info-animate.o-0
                    .block-1 Contacts
                    .block-2.links
                        a.link-1(href='https://google.com') Email
                        a.link-1(href='https://google.com') Behance
                        a.link-1(href='https://google.com')
        footer.white
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
