doctype html
html(lang="en")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Info
    body.info
        .wrapper.o-0
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                            a.link.active(href='/en/info.html') Info
                a.lang(href='/ru/info.html') RU
            .info-block
                .content
                    .block-1
                    .block-2
                        p.head Hello!
                        p.head.head-main I am Svetlana, UI/UX designer from Russia. I design sites in the style of minimalism.
                .content.js-info-animate.o-0
                    .block-1.an-1 In a few words
                    .block-2.an-2
                        p In design, I am attracted by such aspects as: aesthetics, functionality, attention to composition, meaningfulness and the absence of excessive decorativeness.
                        p In 2020, I successfully completed a web design course at the UPROCK school under the leadership of Evgeny Kuzmin, an art director with more than 14 years of experience in this field, who is a member of the juru “Rating of Runet” and “G8”, winner in the nomination “The Best Website of the Year”.
                .content.js-info-animate.o-0
                    .block-1 Work process
                    .block-2
                        p.mb-30 My approach to design development is aimed at making projects not only beautiful, but also effective, convenient and easy to use.
                        p Briefing
                        p.text Before starting work, it is important to understand in a dialogue what the client wants to get as a result, find out his taste preferences regarding the visual part of the site, find out the features of a product or service, its target audience and needs.
                        p.text Formulating clear requirements for a task usually leads to an excellent result.
                        hr
                        p Technical task
                        p.text Based on the brief, I make a technical task in which the project requirements will be reflected, the site structure, a list of all pages with a detailed description.
                        p.text After agreeing the technical task, I will begin the next stage.
                        hr
                        p Prototyping
                        p.text At the prototyping stage, I will definitely perform a visual analysis — this process helps to create a website with a relevant and demanded design, choose modern solutions.
                        p.text Then I work in detail the composition of the blocks of all project pages and their order, integrating text received from the client and photo / video content.
                        hr
                        p Visual concept
                        p.text After agreeing on the prototype I start drawing a visual concept — the graphic idea of the future site, expressed using the sketches of key partitions.
                        p.text I demonstrate the result to the client, if necessary, introduce edits.
                        hr
                        p Design of all site pages
                        p.text After the concept is approved, I draw the final design of the entire site, demonstrating the result to the client to approve, if necessary, I make edits.
                        hr
                        p Adaptive design
                        p.text I make adaptive versions for the most common permits so that the site is correctly displayed on all modern devices.
                        hr
                        p Preparing the layout for development
                        p.text Transfer of a file that contains the design layout of all pages of the site and the UI Kit with a detailed description for further development.
                        p.text For several years I work in a team with an excellent web developer, so a turnkey website option is possible.
                        hr
                .content.js-info-animate.o-0
                    .block-1 Contacts
                    .block-2.links
                        p Thank you for your interest in my portfolio! 
                        p.mb-30 If you are close to my works and style, you need site thought out to the little things, that will solve tasks, write, I open for new projects!
                        a.link-1(href='mailto:svetlana.webdesign@gmail.com' target='_blank') Email: svetlana.webdesign@gmail.com
                        a.link-1(href='https://www.behance.net/svetlana_webdesign' target='_blank') Behance
                        a.link-1(href='https://www.instagram.com/svetlana_webdesign' target='_blank') Instagram
    footer
        .wrapper
            .text © 2021 Svetlana Tsymbalyuk 